<html>
<head>
	
	<title>Service Delivery Model</title>
	
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
</head>
<body>
<br><br>
	<div id="header">
		<h1>Service Delivery Model</h1>
	</div>
  
  
  <div id="wrapper">

  <form name="login-form" class="login-form" action="" method="post">
  
    <div class="header">
    <h1>Login</h1>
    <span>Fill out the field below to login.</span>
    </div>
  
    <div class="content">
    <input name="username" type="text" class="input username" placeholder="Username" />
    <div class="user-icon"></div>
    <input name="password" type="password" class="input password" placeholder="Password" />
    <div class="pass-icon"></div>   
    </div>

    <div class="footer">
    <input type="submit" name="submit" value="Login" class="button" />
    <input type="submit" name="submit" value="Register" class="register" />
    </div>
  
  </form>

</div>


</body>
</html>